<h1>Welcome to IndorailsReact</h1>

<ul>
	<li><a href="/">Welcome</a></li>
	<li><a href="/hello-world" target="_blank">Hello World</a></li>
	<li><a href="/comments" target="_blank">comments</a></li>
	<li><a href="/bucky-component" target="_blank">bucky-component</a></li>
	<li><a href="/children" target="_blank">Children</a></li>
	<li></li>
	<li></li>
</ul>
