<h1>Bucky - Component</h1>

<div id="content"></div>

<script type="text/babel">
	var BuckysComponent = React.createClass({
		render: function() {
			return(
					<h2>My Name is Dyo</h2>
				);
		}
	});
	ReactDOM.render(
		<BuckysComponent />,
		document.getElementById("content")
	);
</script>