<h1>Children</h1>

<div id="content"></div>

<script type="text/babel">

	var DyosComponent = React.createClass({
		render: function() {
			return(
				<div>	
					<h3>{this.props.user}</h3>
					<p>{this.props.children}</p>
				</div>	
			);
		}
	});
	ReactDOM.render(
		<div>
			< DyosComponent user="DyoMedio" >How do you get my name?</DyosComponent> 
			< DyosComponent user="Brandon" >He is an awesome kid</DyosComponent>
		</div>,
		document.getElementById('content'));
	
</script>